@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,300;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



.heading-primary {
    background: linear-gradient(to right, #7270BA,#33B596);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: capitalize;
  }

  .secondary-heading{
    color: #064A45;
  }

  .text{
    color: #6A727B;
  }